name: Unit Tests

on:
    push:
        branches: ["dev", "main"]
    pull_request:
        branches: ["dev", "main"]
    workflow_dispatch:

concurrency: 
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
  pull-requests: write
  contents: read

jobs:
    unit_tests:
        name: Unit Tests
        runs-on: ubuntu-latest
        
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v6
              with:
                  python-version-file: "pyproject.toml"
            - uses: astral-sh/setup-uv@v7
              with:
                  enable-cache: true
              
            - name: Run pytest
              run: |
                  uv run --group dev pytest \
                      --cov-branch \
                      --cov-report=markdown-append:"$GITHUB_STEP_SUMMARY" \
                      --cov-report=xml:coverage.xml \
                      --cov-report=term-missing \
                      tests/

            - name: Code Coverage Report
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  badge: true
                  fail_below_min: true
                  filename: coverage.xml
                  format: markdown
                  hide_branch_rate: false
                  hide_complexity: true
                  indicators: true
                  output: both
                  thresholds: "60 80"

            - name: Update GitHub summary
              run: |
                  cat code-coverage-results.md >> "$GITHUB_STEP_SUMMARY"

            - name: Add Coverage PR Comment
              uses: marocchino/sticky-pull-request-comment@v2
              if: github.event_name == 'pull_request'
              with:
                  path: code-coverage-results.md
                  recreate: true
